/* Write your CSS here */
.container {
  width: fit-content;
  background: #ffffff;
  border-radius: 8px;
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #ff8542;
}

button {
  border: 1px solid #ff0b37;
  color: #ff0b37;
  border-radius: 5px;
  background: transparent;
  padding: 5px 10px;
}
li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  padding: 5px;
}
